snippet yay "Make cheatsheet section" Ab
%---------- $1 (begin) ----------
\begin{tikzpicture}
\node[mybox](box){
	\begin{minipage}{0.3\textwidth}

		$2

	\end{minipage}
};
%---------- $1 (header) ----------
\node[fancytitle,right=10pt] at (box.north west) {$1};
\end{tikzpicture}
%---------- $1 (end) ----------
$0
endsnippet
